/config/parameters.yaml
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/log
/var/log/*
!var/log/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/.idea
/node_modules
/npm-debug.log*
/public/build
.env
/public/bundles/
/var/
/public/uploads/media
/maintenance_on
.phplint-cache

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
###< symfony/phpunit-bridge ###
