{% extends 'base.html.twig' %}

{% block title %}
{% spaceless %}
    Terms & Conditions | CoinIMP
{% endspaceless %}
{% endblock %}

{% block contentClass %}faq py-3{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="page-title">Terms & Conditions</h1>
                <b>ATTENTION: </b> Please read these terms and conditions carefully as they affect your obligations and legal rights, including, but not limited to waivers of right and limitation of liability. If you do not agree with these terms and conditions do not proceed with your registration on CoinIMP.
            </div>
        </div>
        <div class="row mt-3">
            <ul>
                <li><a href="#Agreement">Agreement</a></li>
                <li><a href="#Eligibility">Eligibility</a></li>
                <li><a href="#Services">Services</a></li>
                <li><a href="#CoinIMP-Account">CoinIMP Account</a></li>
                <li><a href="#CoinIMP-Protocol">CoinIMP Protocol</a></li>
                <li><a href="#Wallet-Operations">Wallet Operations</a></li>
                <li><a href="#coinimp-fees">CoinIMP Fees</a></li>
                <li><a href="#Your-warranties-and-representations">Your Warranties and Representations</a></li>
                <li><a href="#No-Warranties-Exclusion-of-Liability-Indemnification">No Warranties, Exclusion of Liability, Indemnification</a></li>
                <li><a href="#Third-Party-Websites-and-content">Third-Party Websites and Content</a></li>
                <li><a href="#Taxes">Taxes</a></li>
                <li><a href="#Jurisdiction-applicable-law">Jurisdiction, Applicable Law</a></li>
                <li><a href="#Miscellaneous">Miscellaneous</a></li>
            </ul>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h2 id="Agreement" class="question-title">Agreement</h2>
            </div>
            <div class="col-12">
                <p>This is a contract between you and CoinIMP (<a href="https://www.coinimp.com/" target"_blank">www.coinimp.com</a>). By signing up for an account on CoinIMP, you agree that you are eligible as a website user because you have read, understood and fully accepted these Terms and Conditions. By registering, you are automatically added to our mailing list, and in case you wish to opt out, you will always find an unsubscribe link at the end of every email. </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h2 id="Eligibility" class="question-title">Eligibility</h2>
            </div>
            <div class="col-12">
                <p>You are allowed to use the Website if you are eligible according to the applicable laws where you reside. The Platform has no obligation to verify whether you are eligible to use the Website and bears no responsibility for your use of CoinIMP. The Platform reserves the right to block your account on the website if we have any doubts regarding your eligibility.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h2 id="Services" class="question-title">Services</h2>
            </div>
            <div class="col-12">
                <p>You may use your CoinIMP account under these terms and conditions to receive the following services: </p>
                <ol style="list-style-type: lower-alpha;">
                <li>Browser-based Cryptocurrency generation through our JavaScript miner </li>
                <li>Electronic wallet management and all the transactions you perform on it (storing, tracking, receiving and transferring your cryptocurrencies)</li>
                <li>Tokens issuance, meaning the tokens that you issue or the tokens that you acquire and/or operate on our site.</li>
                </ol>
                <p>The Platform grants you a limited nonexclusive, nontransferable and revocable license to use the website via your account free of charge. All Services available on the site are the functions of CoinIMP as enabled by The Platform.</p>
                <p>CoinIMP is not a security, it is not registered with any government entity as a security, and shall not in any case be considered as such. CoinIMP is not intended to be a commodity or any other kind of financial instrument, does not represent any share, equity, stake, or security in the Platform or equivalent rights, including, but not limited to, any intellectual property rights, and does not represent any ownership right.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h2 id="CoinIMP-Account" class="question-title">CoinIMP Account</h2>
            </div>
            <div class="col-12">
                <p>To start using CoinIMP Account, you need to sign up for an account on <a href="https://www.coinimp.com/" target"_blank">https://www.coinimp.com</a>, provide your email address and accept these Terms and Conditions, the <a href="{{ path('privacy-policy') }}" target="_blank">Privacy Policy</a> and also receive all legal notices including risk statements and permanent or eventual disclaimers. You must ensure safety and confidentiality of your password and bear all risks related to the disclosure of your password to third parties. The Platform or any affiliated person is not in possession of your password and at no event shall bear any liability in case of loss of the password or its disclosure to a third party.</p>
                <p>The Platform may refuse your registration, limit the number of your CoinIMP accounts or restrict your use of the Platform Services at its sole discretion.</p>
                <p>The Platform may ask you to provide, at any stage, additional personal information.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h2 id="CoinIMP-Protocol" class="question-title">CoinIMP Protocol</h2>
            </div>
            <div class="col-12">
                <p>This protocol governs relations between CoinIMP and all those cryptocurrencies enabled, now or in future, to be mined on your website by your visitors using our JavaScript miner. </p>
                <p>The Platform provides you with technical opportunity to issue cryptocurrencies, you are the only person who is liable for any losses, damages, claims related to the issuance of cryptocurrencies.</p>
                <p>By issuing cryptocurrencies or tokens, you warrant and represent that you have received all approvals, authorizations, licenses or registrations required by the competent authority in the jurisdiction of your residence or any other applicable jurisdictions.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h2 id="Wallet-Operations" class="question-title">Wallet Operations</h2>
            </div>
            <div class="col-12">
                <p>You may keep cryptocurrencies and tokens on your CoinIMP wallet, send them to and receive them from third parties according to the instructions and limitations of any of these particular cryptocurrency operators. The Platform does not provide any financial services or advice including but not limited to receiving or sending deposits. The Platform does not store your wallet private key and has no access to the cryptocurrencies and tokens that are shown on your Wallet balance. </p>
                <p>The Platform assumes no responsibility or liability in connection to any attempt to use a particular wallet to keep a cryptocurrency or token that is not supported by other blockchain but supported by CoinIMP.</p>
                <p>The Platform has no control over, or liability for, the delivery, quality, safety, legality or any other aspect of any goods or services that you may sell to or buy from a third party (including other users on the Website). Any dispute you have concerning a transaction with cryptocurrencies, you shall resolve with such third party directly without involving the Platform. If you believe that a third party behaved in a fraudulent, misleading, or inappropriate manner, or if you cannot adequately resolve a dispute with a third party, you may notify our support team for assistance so that we may consider what action to take, if any.</p>
                <p>The Platform may use a third party payment processor to enable you to make payments with any fiat (government issued) currency on the site, without taking responsibility on the actions that you, as a user, decide to execute with this payment processor. </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h2 id="coinimp-fees" class="question-title">CoinIMP Fees</h2>
            </div>
            <div class="col-12">
                <p>You will pay all fees specified in this section: (i) fees are based on the services offered to you on coinimp.com, a 1% commision of your mined coins will be deducted as you agree to it by signing up for the site; (ii) transactions fees are set at the company discretion and shown to you before completing any transaction on your CoinIMP wallet; (iii) fees obligations are non-cancelable and non-negotiable and fees paid are non-refundable. </p>
            </div>
        </div>        
        <div class="row mt-3">
            <div class="col-12">
                <h2 id="Your-warranties-and-representations" class="question-title">Your Warranties and Representations</h2>
            </div>
            <div class="col-12">
                <p>By entering these Terms and conditions you warrant and represent that:</p>
                <ol style="list-style-type: lower-alpha;">
                <li>You have full capacity to contract under applicable laws;</li>
                <li>You will only be transacting on the Website with legally-obtained funds that belong to you;</li>
                <li>You will not be furthering, performing, undertaking, engaging in, aiding or abetting any unlawful activity through your relationship with us or through your use of the platform;</li>
                <li>You will not use the platform for illegal purposes, including money laundering of criminal proceeds, transfer or receipt of payment for planning, preparation or commitment of crime, for financing the terrorism and illegal trade;</li>
                <li>You will not use the platform for any purpose prohibited by these Terms or in any manner that could damage, disable, overburden, or impair the Platform;</li>
                <li>You will be complying with and obeying all applicable laws, including but not limited to anti-money laundering and counterfeiting terrorism, consumer protection laws, financial promotion, etc.</li>
                </ol>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h2 id="No-Warranties-Exclusion-of-Liability-Indemnification" class="question-title">No Warranties; Exclusion of Liability; Indemnification</h2>
            </div>
            <div class="col-12">
                <p>The Website and its components such as the CoinIMP Account, CoinIMP JavaScripts and any other related tools or sites are provided ‘as is’. The Platform and its components are under development, the Platform cannot guarantee full functionality for any period in the future or that the functionality of the Platform will not change dramatically. The Platform and its eventual affiliates make no representations or warranties of any kind, whether expressed, implied, statutory or otherwise regarding it, including any warranty that the Website will be uninterrupted, error free or free of harmful components, secure or not otherwise lost or damaged. Except to the extent prohibited by law, the Platform and its eventual affiliates disclaim all warranties, including any implied warranties of merchantability, satisfactory quality, fitness for a particular purpose, non-infringement, or quiet enjoyment, and any warranties arising out of any course of dealings, usage or trade.</p>
                <p>The Platform shall not have any liability or responsibility for any errors or omissions in performance of the Website, for your action or inaction in connection with it or for any damage to your computer or data or funds or any other damage you may incur in connection with it. <b>Your use of the Website is at your sole risk.</b> In no event shall the Platform be liable for any direct, indirect, punitive, incidental, special or consequential damages arising out of or in any way connected with its use, the delay or inability to use the Platform or otherwise arising in connection with it whether based on contract, tort, strict liability or otherwise, even if advised of the possibility of any damages.</p>
                <p>You agree to defend, indemnify and hold the Platform harmless from and against any and all claims, damages, costs and expenses, including attorneys' fees, arising from or related to your use of the Platform.</p>
                <p>The Platform makes no representation that the Website Services are applicable or appropriate for use in all jurisdictions.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h2 id="Third-Party-Websites-and-content" class="question-title">Third-Party Websites and Content</h2>
            </div>
            <div class="col-12">
                <p>The Website may contain links to websites owned or operated by parties other than the Platform. Such links are provided for your reference only. The Platform does not monitor or control outside it and is not responsible for their content. The inclusion of links to third party resources does not imply any endorsement of the material on the Website or, unless expressly disclosed otherwise, any sponsorship, affiliation or association with its owner, operator or sponsor, nor does such inclusion of links imply that the Platform is authorized to use any trade name, trademark, logo, legal or official seal, or copyrighted symbol that may be reflected in the linked website. The Platform does not control the third party content including the content posted by you or other users of the Platform or monitor it for compliance with any requirement (e.g. truthfulness, integrity, legality). Accordingly, the Platform does not bear any liability arising in connection with your access or use of the third party content.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h2 id="Taxes" class="question-title">Taxes</h2>
            </div>
            <div class="col-12">
                <p>The Platform bears no liability for determining whether taxes apply to any of your transactions, or for collecting, reporting, or remitting any taxes arising from any transaction.</p>
            </div>
        </div>     
        <div class="row mt-3">
            <div class="col-12">
                <h2 id="Jurisdiction-applicable-law" class="question-title">Jurisdiction, Applicable law</h2>
            </div>
            <div class="col-12">
                <p>The Parties agree to try, in good faith, to settle through negotiations any dispute, disagreement or claim arising out of or in connection with execution, termination or rescission of these terms and conditions. The claiming party shall send a message with its claim to the other party. The message in question shall contain the essentials of the claim and evidence supporting such claim.</p>
                <p>In the absence of a reply to the claim within 30 working days since the sending date, or if the Parties have failed to reach an amicable settlement, the dispute shall be brought and heard exclusively in appropriate court at the location determined by the Platform at its sole discretion.</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <h2 id="Miscellaneous" class="question-title">Miscellaneous</h2>
            </div>
            <div class="col-12">
                <ul>
                <li>The Parties agree to use ‘I accept’ buttons while delivering all necessary documents or claims. The Parties confirm that documents and claims signed through ‘I accept’ buttons have the legal effect and are to be accepted and considered by the Parties. The Parties confirm that all emails sent from the authorized email addresses are deemed to be sent and agreed by the Parties.</li>
                <li>Your authorized email is the email that you entered during the registration. All communications and documents to be made or given pursuant to this document must be in the English language. The translated versions of this document are translations of this original for information purposes only. In case of a discrepancy, the English original will prevail.</li>
                <li>The platform reserves the right to contact the user to request any additional information related to their identity or source of funds and it will do it also for matters of data disclosure; always under the limits of the <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016R0679&rid=1" target="_blank">General Data Protection Regulation</a>, which endorses, but is not limited to, having the user’s informed consent in case of data disclosure.</li>
                <li>When legally obligated, the platform will provide user’s information to government agencies upon legal request, court order or presentation of warrant.</li>
                <li>Until one Party advises the other one on the fact of the breach of security in respect of its authorized email, all actions and documents done and sent from the authorized email of one of the Parties, even if these actions and documents have been done and sent by third parties, are considered to be done and sent by the owner of the authorized email. In that case, the owner of the authorized email acquires all rights and incurs all obligations, as well as bears the liability arising out of these facts.</li>
                <li>If at any time anyone or any of the provisions of these terms and conditions is or becomes illegal, invalid or unenforceable in any respect under any law of any jurisdiction neither the legality, validity or enforceability of the remaining provisions of these terms and conditions nor the legality, validity or enforceability of such provision under the law of any other jurisdiction shall be in any way affected or impaired as a result.</li>
                <li>Headings are inserted for the convenience of the parties only and are not to be considered when interpreting this document. Words in the singular mean and include the plural and vice versa. Words in the masculine mean and include the feminine and vice versa.</li>
                </ul>
            </div>
        </div>        
    </div>
{% endblock %}