<section id="roadmap-section" class="pt-5">
    <div class="container">
        <h1 class="text-center mb-5">Roadmap</h1>
        <timeline current-date="{{ 'now'|date('Y-m-d') }}" v-cloak>
            <timeline-item year="" month="Q1">
                <div>
                    <p>
                        <b>API Development and Release:</b>
                        After assessing community needs, we developed and deployed CoinIMP API.
                    </p>
                    <p>
                        <b>Placing CoinIMP among the Top 5 Google Organic Search Results:</b>
                        Showing up on Google Search was an important milestone of our business growth,
                        therefore we secured a position within the Top 5 Google Organic Search sites for
                        browser-based mining related phrases.
                    </p>
                </div>
            </timeline-item>
            <timeline-item year="" month="Q2">
                <div>
                    <p>
                        <b>Webchain Development and Release:</b>
                        Beginning for egalitarian cryptocurrency.
                    </p>
                    <p>
                        <b>Project QA testing and deployment:</b>
                        Web security and stability are tested out by professionals and early-access users.
                    </p>
                    <p>
                        <b>IMP Concept Development & White Paper draft:</b>
                        Mapping out IMP and defining the way it would be delivered,
                        followed by goals setting and business plan, being the outcome our first white paper draft.
                    </p>
                    <p>
                        <b>AV-friendly Solution:</b>
                        For that matter we have implemented an extra script,
                        which is even more AV-friendly, and it’s free.
                    </p>
                </div>
            </timeline-item>
            <timeline-item year="" month="Q3">
                <div>
                    <p>
                        <b>Token Sale Web Application design:</b>
                        Setting of specifications and requirements for the first alpha version of the token pages.
                    </p>
                    <p>
                        <b>Token Release Plan:</b>
                        It was decided to split this plan into two stages, Presale and Token Sale.
                    </p>
                    <p>
                        <b>Token Distribution Plan:</b>
                        Definition of how IMP will be launched to the market,
                        token sale strategy and benefits of token holders.
                    </p>
                    <p>
                        <b>Early Token Sale Development:</b>
                        Development of the MVP solution with the required modules.
                    </p>
                    <p>
                        <b>Content Hiding Tool:</b>
                        Show warning instead of content whenever miner is blocked.
                    </p>
                    <p>
                        <b>New Currency:</b>
                        Now you can mine Webchain coins with CoinIMP.
                    </p>
                </div>
            </timeline-item>
            <timeline-item year="" month="Q4">
                <div>
                    <p>
                        <b>Token Sale Official Launching:</b>
                        IMP public beta and token sale pages release.
                    </p>
                    <p>
                        <b>Collecting Statistics:</b>
                        Beginning for data collection about websites in CoinIMP nettwork.
                    </p>
                    <p>
                        <b>Referral Program Promotion:</b>
                        CoinIMP users will have an extra way of earning IMP coins,
                        a referral program that will reward them with a 5% commission
                        for each purchase made by their referrals.
                    </p>
                    <p>
                        <b>WordPress Plugin:</b>
                        You can freely install our high quality JS miner plugin
                        on your beloved Wordpress website.
                    </p>
                </div>
            </timeline-item>
            <timeline-item year="further goals" month="2019 and 2020">
                <div>
                    <p>
                        <b>Ad Platform Development:</b>
                        After finishing Token Sale we will start developing our IMP advertising features for CoinIMP.
                    </p>
                    <p>
                        <b>Search for Potential Partnership:</b>
                        expanding our ad platform with new adverstiers and publishers will be one of our priorities.
                    </p>
                    <p>
                        <b>Hosting provider integration:</b>
                        Activation of CoinIMP JavaScript miner and IMP ads with one click in our hosting services.
                    </p>
                    <p>
                        <b>Mobile App Development:</b>
                        Users will be able to track the performance of their sites,
                        be in the know about the accumulated revenue, spot the accumulated hashes from the JS miner,
                        follow the progress of advertisements deployed in the network and pay for their services and access other features,
                        from their mobile devices.
                    </p>
                    <p>
                        <b>Ad Platform Improvements:</b>
                        Adding advertising models other than CPM.
                    </p>
                </div>
            </timeline-item>
        </timeline>
    </div>
</section>
